@media (max-width: 780px) {
  .text-container {
    width: 100%;
  }
}

body {
  background-color: antiquewhite;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100%;
  min-height: min-content;
}

.navbar {
  position: fixed;
  background-color: rgb(0, 15, 59);
  color: whitesmoke;
  opacity: 85%;
  top: 0%;
  height: auto;
  width: 100%;
  z-index: 900;
}

.navtoggle {
  background-color: whitesmoke;
  z-index: 90;
  border: 1px solid white;
  margin-right: 10%;
}

.navlink {
  color: whitesmoke;
  position: relative;
  left: 0%;
  margin-right: 8%;
  z-index: 900;
}

.navlink:hover {
  color: rgb(255, 209, 149);
}

.navbar-nav {
  position: relative;
  color: whitesmoke;
  z-index: 900;
  left: 10%
}

#welcomecontainer {
  position: relative;
  height: 90vw;
  width: 80%;
  top: 30%;
  z-index: 100;
}

#welcomemessage {
  position: absolute;
  top: 28vw;
  height: 21vw;
  font-size: 1.2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#processcontainer {
  position: relative;
  height: 65vw;
  left: 32%;
  width: 50%;
  transform: translateY(62%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 0;
}

#processheader {
  position: relative;
  top: 10%;
  font-size: 3vw;
  text-align: center;
}


#processsteps {
  position: relative;
  width: 75%;
  height: 35%;
  top: 42%;
  font-size: 3.2vh;
  line-height: 110%;
  left: 10%;
}

#childpic {
  position: absolute;
  height: 35%;
  top: 76%;
  left: 10%;
  z-index: 0;
}

#pitbull {
  position: absolute;
  height: 100%;
  top: 0%;
}

.footer {
  position: fixed;
  margin-right: 10vw;
  bottom: 00px;
  width: 100vw;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  padding: 7px; 
  z-index: 5;
}

.footerlinks {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 2vw;
  padding-right: 7%;
  width: 25vw;
  transform: translateX(12vw) translateY(-1.3vw);
  font-size: 100%;
}

.brand-container {
  position: relative;
  top: -5%;

}
#brand {
  font-size: xx-large;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 9%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 0%;
}

#hero1 {
  position: absolute;
  left: -10%;
  top: 0%;
  width: 110%;
  height: auto;
  z-index: 10;
}

#hero2 {
  position: absolute;
  left: 0;
  top: 115vw; 
  width: 100%;
  height: 40vw;
  margin: 0;
  padding: 0;
}


#walk {
  position: absolute;
  transform: translateX(86px);
  top: 1000px;
  width: 500px;
}

.processcontainer {
  transform: translateY(950px) translatex(63%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#processsteps {
  position: relative;
  top: 16%;
  height: 40%;
  font-size: 2vw;
  line-height: 1.5; 
  font-size: 20px;
  line-height: 1.5;
}

#aspca {
  position: absolute;
  transform: translateY(-20px);
  width: 400px;
}

.about {
  position: absolute;
  height: 70vh;
  width: 30vw;
  top: 160vw;
  left: 8%;
  padding: 20px;
  text-align: center;
  font-size: 1.7vw;
}

#about {
  font-size: 3vw;
  text-decoration: underline;
}

.aspcacontainer {
  position: absolute;
  top: 142vw;
  height:50vw;
  width: 35vw;
  right: 1vw;
  margin: 10vw;
}

#aspca {
  position: absolute;
  transform: translateY(9vw);
  width: 32vw;
  left: 5vw;
}

.aspcabutton {
  position: absolute;
  height: 4vw;
  width: fit-content;
  left: 40%;
  top: 4vw;
  background-color: rgb(0, 52, 121);
  color: white;
  font-size: 2vw;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px; 
  font-size: 130%;
  border-radius: 25px;

}

.aspcabutton:hover {
  background-color: rgb(0, 0, 89);
}

#consider {
  position: absolute;
  top: 25vw;
  width: 40vw;
  line-height: 2vw; 
  font-size: 1.2vw;

  line-height: 2vw;
  font-size: 1.5vw;
  text-align: center;
}

.background-container1 {
  position: absolute;
  top: 8vw;
  width: 50%;
  height: 120vw;
  left: 0;
  background-color: white;
  z-index: -100;
}

.background-container2 {
  position: absolute;
  height: 98vh;
  transform: translateY(155vw);
  width: 50vw;
  left: 0;
  background-color: white;
  z-index: -1;
}

.carousel {
  top: 0vw;
  height: 15vw;
  width: 65%;
  left: 18%;
}

.carousel-control-next, .carousel-control-prev {
background-color: grey;
height: 25%;
width: 10%;
top: 148%;
z-index: 400;
}

.carousel-inner {
  max-width: 100%;
  height: 30vw;
}

.carousel-fade .carousel-item {
  width: 100%;
  height: 45vh;
}

.carousel-indicators {
  top: 150%;
}

.carousel-item img {
  position: relative;
  left: 15%;
  width: 70%;
  height: 25vw;
}

.modal {
  z-index: 20000;
  margin-top: 50px;
  top: 15%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  z-index: 99;
}

.searchcontainer {
  /* position: static;
  transform: translateX(20%) translateY(10%); */
  width: 20%;
  /* height: 1000px; */
  padding-right: 10px;
  border-right: 2px solid #949494;
  margin-bottom: 91px;
}

.resultscontainer {
  /* background-color: white; */
  /* height: 900px; */
  /* width: 900px; */
  /* transform: translate(50%, -90%) */
  padding-bottom: 80px;
}

.favorites {
  width: 25%;
}

.favorites .row {
  gap: 0 !important;
  row-gap: 10px !important;
}

.favorites .card {
  width: 49% !important;
}

.card {
  /* margin: 50px; */
  /* padding: 20px; */
  border: 3px solid silver;
  background-color: whitesmoke;
  /* height: 315px; */
  text-align: center;
  width: 32% !important;
  ;
}

.cardpic {
  /* height: 130px; */
  max-height: 300px;
}

.resultscontainer .row {
  /* position: absolute; */
  gap: 10px;
  margin: 0;
  padding: 10px;
}

.searchpage {
  /* height: 1300px; */
  margin-top: 8%;
  display: flex;
  padding: 5px 15px;
  gap: 10px;
}

.button {
  height: 45px;
  width: 170px;
  background-color: rgb(0, 52, 121);
  color: white;
  font-size: 20px;
  border-radius: 25px;
  transform: translateY(20px);
}

.button:hover {
  background-color: rgb(0, 0, 89);
}

.searchbutton {
  height: 45px;
  width: 130px;
  background-color: rgb(0, 52, 121);
  color: white;
  font-size: 16px;
  transform: translateY(20px);
  border-radius: 25px;
}

.searchbutton:hover {
  background-color: rgb(0, 0, 89);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #0d6efd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  border-radius: 15px;
  border: none;
  background-color: black;
  color: white;
}

.pagination button:hover {
  background-color: #0d6efd;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 5%;
}

.news-row {
  display: flex;
  justify-content: space-between;

}

.news-col {
  width: 50%;
}

.news-col h2 {
  margin-bottom: 25px;
}

.news-col h5 {
  color: gray;
  font-style: italic;
  margin-bottom: 0px;
}

.news-col p {
  margin-bottom: 40px
}

.news-col a {
  text-decoration: none;
  font-size: 35px;
  color: sienna;
  font-weight: bolder;
  font-style: italic;
}


.share-col {
  flex: 0 0 auto;
  width: 20%;
}

.share-col .icons {
  display: flex;
  font-size: 30px;
}

.share-col .icons a {
  margin-right: 10px;
  color: black;
}

.icons {
  border-left: 2px solid black;
  padding-left: 10px;
  margin-right: auto;
}

.books {
  border-left: 2px solid black;
  padding-left: 10px;
  margin-left: auto;

}

.share-col img {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.news-container .books a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 720px) {
  .news-container {
    margin-top: 20%;
  }

  .news-row {
    flex-wrap: wrap;
  }

  .news-col {
    width: 100%;
  }

  .share-col {
    width: 100%;
  }

  .share-col img {
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding-left: 5px;
  }
  #brand {
    margin-right: 0;
  }
}