.navbar {
  background-color: black;
  opacity: 85%;
  position:fixed;
  z-index: 9999;
  width: 100%;
  height: 10%;
  top: 0%;
  left: 0%;
}

.nav-container .nav-link {
  color: whitesmoke; 
  text-decoration: none;
}

.nav-container .navbar-nav {
  color: whitesmoke; 
  transform: translateX(25%);
}

.nav-container .nav-link {
  margin-left: 6%;
}

/* Modal */

.modal {
  z-index: 20000;
  margin-top: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
  /* opacity: 85%; */
  padding: 10px 0; 
  left: 0%;
  z-index: 5;
}

body {
  background-color: antiquewhite;
  background-size: cover;
  background-attachment: fixed;
}

.brand-container {
  transform: translateY(23px);
}

#brand {
  font-size: xx-large;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 5%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.homepage {
  top: 20%;
}

#hero1 {
  position: absolute;
  left: -10%;
  top: 0%;
  max-width:110%;
}

#hero2 {
  position: absolute;
  left: 0;
  top: 1200px;
  width: 100vw; /* Take the entire width of the viewport */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

.background-container {
  position: absolute;
  top: 8%; /* Position below hero1 */
  width: 50%;
  height: 320%;
  left: 0;
  background-color: rgb(175, 173, 173);
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 768px) {
  .text-container {
    width: 100%; /* Set width to 100% on smaller screens */
  }
}

.footerlinks {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 50px;
}